# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-0-00-23 1ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_No_Niches-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-02-16-22-44 ENABLE-Facility_A-50cm_05-Persistence 1000_Runs_8_Weeks_Variable_Prob_Clean-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-03-31-22-58 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_Baseline_H_10E6_Maths-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-01-01-24 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_Crate_Prev-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-01-09-45 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_Sanitation_Reschedule-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-01-13-45 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_Connections_Intervention-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-01-15-21 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_Pre_Contamination-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-03-20-26 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_P_Z4_Interventions-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-04-16-07 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_Risk-Based_Interventions-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-01-20-31 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_P_Random_Interventions-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-01-19-03 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_Z4_Load_Interventions-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-01-18-02 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_Random_Load_Interventions-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-01-15-26 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_Pre_Contamination-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-01-15-22 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_Crate_Prev_Interventions-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-01-14-26 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_Connections_Interventions-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-01-11-34 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_No_Niches-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-04-01-11-26 ENABLE-Facility_B-50cm_05-Persistence 100_Runs_8_Weeks_Baseline_H_10E6_Maths-table.csv
Facility_B_Persistence/Analysis/Facility_B_Persistence/Data/BehaviorSpace/2022-02-16-22-44 ENABLE-Facility_B-50cm_05-Persistence 1000_Runs_8_Weeks_Variable_Prob_Clean-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-03-23-45 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_Random_Load_Intervention-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-03-20-26 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_P_Random_Intervention-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-02-13-38 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_Z4_Load_Intervention-table.csv
Facility_A_Persistence/Analysis/Facility_A_Persistence/Data/BehaviorSpace/2022-04-01-21-01 ENABLE-Facility_A-50cm_05-Persistence 100_Runs_8_Weeks_P_Z4_Intervention-table.csv
